manifest {
	homePage = 'https://github.com/dhineshp565/rename_folders'
    description = 'Pipeline for renaming folders for oxford Nanopore sequencing'
	author= 'dhineshp565'
    mainScript = 'main.nf'
    version = '1.0.1'
	nextflowVersion= '>=22.12.0-edge'
	manifest.defaultBranch = "main"
	name = 'dhineshp565/rename_folders'
}

params {
    dir="path"
    csv="samplelist.csv"

}
